@font-face {
    font-family: 'PixelFont';
    src: url(Anonymous_Pro/AnonymousPro-Regular.ttf);
    }
    
    body {
        background-color: black;
        color: lime;
        font-family: 'PixelFont' , monospace;
        font-size: 24px;
        margin-left: 70px;
        margin-right: 70px;
        padding: 0;
        justify-content: center;
    }

    ::-webkit-scrollbar {
        display: none; /* Hide scrollbar for Webkit (Chrome, Safari, etc.) */
    }
    
    header {
        text-align: center;
        padding: 20px;
    }

    p {
        line-height: 1.5; /* Adjust the value as needed */
    }
    
    h1 {
        font-size: 50px;
    }
    
    section {
        padding: 20px;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        line-height: 1.5;
    }
    
    ul li::before {
        content: "▹";
        margin-right: 10px;
        line-height: 1.5;
    }
    a:link ,a:visited {
        color:lime;
    }

    .contacts_container{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contacts_container p{ 
        text-align: center;
    }

    .contacts_container img{
        margin-right: 10px;
        margin-left: 10px;
        height: 40px;
        width: 40px;
    }

    .progress-container {
        position: fixed;
        height: 100%;
        background-color: #000000;
      }
      
      .progress-bar {
        width: 4px;
        background-color: #00ff00;
        height: 0%;
        max-height: 97%;
      }